# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env
.venv/

# PyCharm
.idea/

# Docker
*.env
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Local DB data (if you ever store it in the repo)
db_data/
pgadmin_data/

