# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3

# Playwright
playwright-report/
test-results/
ms-playwright/

# PyCharm
.idea/
*.iml

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/

# Misc
.DS_Store

